# Keystore properties for release signing
# DO NOT COMMIT THIS FILE TO GIT!

storePassword=YOUR_KEYSTORE_PASSWORD_HERE
keyPassword=YOUR_KEY_PASSWORD_HERE
keyAlias=expense-tracker-key
storeFile=release-keystore.jks
